<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="../assets/styles/homepage.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <title>Trang chủ</title>
</head>

<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
    <div class="container-fluid">
      <a class="navbar-brand" href="homepage.html">
        <img src="../images/orange_lambda.png" alt="Brand Logo" style="height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/iphone">iPhone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ipad">iPad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mac">Mac</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/watch">Watch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sounding">Âm thanh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accessories">Phụ kiện</a>
          </li>
        </ul>
      </div>
      <form class="d-flex justify-content-center">
        <input class="form-control me-3" type="search" placeholder="Bạn đang tìm gì vậy...">
        <button class="btn btn-outline-secondary rounded-circle" style="border: none;" type="submit">
          <span style="font-size: 20px; color: white;">
            <i class="fas fa-search"></i>
          </span>
        </button>
        <button class="btn btn-outline-secondary rounded-circle" style="border: none;" type="button">
          <span style="font-size: 20px; color: white;">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </button>
      </form>
      <button class="btn btn-outline-secondary rounded-circle" style="border: none;" type="button">
        <span style="font-size: 20px; color: white;">
          <i class="far fa-user"></i>
        </span>
      </button>
    </div>
  </header>

  <div id="HomepageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#HomepageCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#HomepageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#HomepageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/promotion/Airpods-Pro-2880-800-1920x533-2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/promotion/Mac-2880-800-1920x533-1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/promotion/wo-top-2880-800-1920x533.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#HomepageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#HomepageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="commitments">
    <div class="commitment">
      <span style="font-size: 20px; color: rgb(255, 255, 255);">
        <i class="far fa-check-circle fa-2x"></i>
      </span>
      <p class="commit-text">Mẫu mã đa dạng, chính hãng</p>
    </div>

    <div class="commitment">
      <span style="font-size: 20px; color: rgb(255, 255, 255);">
        <i class="fas fa-truck fa-2x"></i>
      </span>
      <p class="commit-text"">Giao hàng toàn quốc</p>
    </div>

    <div class="commitment">
      <span style="font-size: 20px; color: rgb(255, 255, 255);">
        <i class="fas fa-shield-alt fa-2x"></i>
      </span>
      <p class="commit-text"">Bảo hành lên đến 12 tháng</p>
    </div>
    
    <div class="commitment">
      <span style="font-size: 20px; color: rgb(255, 255, 255);">
        <i class="fas fa-redo fa-2x"></i>
      </span>
      <p class="commit-text"">Đổi trả tại các cửa hàng thuộc hệ thống</p>
    </div>
  </div>

  <div id="categories" class="row">
    <h1>Các ngành hàng</h1>
    <div class="col-sm-2">
      <a href="/iphone">
        <button type="button" class="btn btn-dark btn-block pt-3" style="border-radius: 15px; width: 100%;">
          <img src="../images/categories/iphone.webp" alt="iPhone" style="max-height: 100px; max-width: 80%;">
          <p class="pt-2">iPhone</p>
        </button>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="/ipad">
        <button type="button" class="btn btn-dark btn-block pt-3" style="border-radius: 15px; width: 100%;">
          <img src="../images/categories/ipad.webp" alt="iPad" style="max-height: 100px; max-width: 80%;">
          <p class="pt-2">iPad</p>
        </button>
      </a>
    </div>

    <div class="col-sm-2">
      <a href="/mac">
        <button type="button" class="btn btn-dark btn-block pt-4" style="border-radius: 15px; width: 100%;">
          <img src="../images/categories/mac.webp" alt="Mac" style="max-height: 100px; max-width: 80%;">
          <p class="pt-2">Mac</p>
        </button>
      </a>
    </div>

    <div class="col-sm-2">
      <a href="/watch">
        <button type="button" class="btn btn-dark btn-block pt-4" style="border-radius: 15px; width: 100%;">
          <img src="../images/categories/watch.webp" alt="Watch" style="max-height: 100px; max-width: 80%;">
          <p class="pt-2">Watch</p>
        </button>
      </a>
    </div>

    <div class="col-sm-2">
      <a href="/sounding">
        <button type="button" class="btn btn-dark btn-block pt-3" style="border-radius: 15px; width: 100%;">
          <img src="../images/categories/airpods.webp" alt="Sounding" style="max-height: 100px; max-width: 80%;">
          <p class="pt-2">Âm thanh</p>
        </button>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="/accessories">
        <button type="button" class="btn btn-dark btn-block pt-3" style="border-radius: 15px; width: 100%;">
          <img src="../images/categories/accessories.webp" alt="Accessories" style="max-height: 100px; max-width: 80%;">
          <p class="pt-2">Phụ kiện</p>
        </button>
      </a>
    </div>
  </div>

  <div class="category-iphone">
    <h1><i class="fab fa-apple"></i> iPhone</h1>
  </div>
  <div class="category-iphone">
    <h1><i class="fab fa-apple"></i> iPad</h1>
  </div>
  <div class="category-iphone">
    <h1><i class="fab fa-apple"></i> Mac</h1>
  </div>
  <div class="category-iphone">
    <h1><i class="fab fa-apple"></i> Watch</h1>
  </div>
  <div class="category-iphone">
    <h1><i class="fab fa-apple"></i> Airpods</h1>
  </div>
  <div class="category-iphone">
    <h1>Accessories</h1>
  </div>


  <script>
    // Toggle the visibility of the navigation options upon clicking the navigation button
    var navbarToggler = document.querySelector('.navbar-toggler');
    var navbarCollapse = document.querySelector('.navbar-collapse');
    navbarToggler.addEventListener('click', function () {
      navbarCollapse.classList.toggle('show');
    });
  </script>
  <!-- Required JavaScript files for Bootstrap carousel -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>

</html>